<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les Sept Rois - la Guerre des Ombres</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="/static/css/l7r.css" rel="stylesheet">

</head>
<body>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    var parts = location.pathname.split("/"); var nompj = parts[parts.length - 1];
</script>


<div class="container">
    <div class="text-center">
        <h4 class="text-center"><b>{{ car.name|title }}</b> -
            {% if car.element == "glace" %}
            Champion de la Glace
            {% elif car.element == "feu" %}
            Championne du Feu
            {% elif car.element == "ombre" %}
            Champion des Ombres
            {% elif car.element == "vent" %}
            Champion.ne du Vent
            {% elif car.element == "terre" %}
            Champion de la Terre
            {% elif car.element == "foudre" %}
            Championne de la Foudre
            {% elif car.element == "lumiere" %}
            Champion de la Lumière
            {% else %}
            Rejeté de la Gorgonne
            {% endif %}
            niv. {{ car.niveau }}
        </h4>


        <table align="center" class="perso" style="height:10px; width:300px;">
            <tr>
                <td rowspan="3">
                    {% with 'applsr/'|add:car.name|add:".png" as filepath %}
                    <img alt="Ce PJ n'existe pas !" class="figure-img img-fluid rounded"
                         src="{% static filepath %}"
                         style="width:100px; height:auto"/>
                    {% endwith %}
                </td>

                <td>
                    <figure>
                        {% with 'applsr/'|add:"chair.png" as filepath %}
                        <img alt="" class="figure-img img-fluid rounded" src="{% static filepath %}"
                             style="width:30px; height:auto"/>
                        {% endwith %}
                    </figure>
                </td>
                <td>Chair : {{ car.chair }}</td>
                <td><i>Lux :</i><br/>{{ car.fl }}</td>
            </tr>
            <tr>
                <td>
                    <figure>
                        {% with 'applsr/'|add:"esprit.png" as filepath %}
                        <img alt="" class="PF" src="{% static filepath %}"
                             style="width:30px; height:auto"/>
                        {% endwith %}
                    </figure>
                </td>
                <td>Esprit : {{ car.esprit }}</td>
                <td><i>Umbra :</i><br/>{{ car.fu }}</td>
            </tr>
            <tr>
                <td>
                    <figure>
                        {% with 'applsr/'|add:"essence.png" as filepath %}
                        <img alt="" class="PF" src="{% static filepath %}"
                             style="width:30px; height:auto"/>
                        {% endwith %}
                    </figure>
                </td>
                <td>Essence : {{ car.essence }}</td>
                <td><i>Secunda :</i><br>{{ car.fs }}</td>
            </tr>

        </table>

        <div data-toggle="buttons">
            <label><span class="btn-group">
            <button class="btn btn-info" onclick="moinsPv();">-</button>
                <button class="btn btn-info" disabled>PV : <span id="pv">{{ car.point_de_vie }}</span> / {{ car.point_de_vie_max }}
                </button>
                <button class="btn btn-info" onclick="plusPv();">+</button>
              </span></label>
            <label>
                <label><span class="btn-group">
            <button class="btn btn-info" onclick="moinsDt();">-</button>
                <button class="btn btn-info" disabled>Dettes : <span id="dettes">{{ car.dettes }}</span></button>
                <button class="btn btn-info" onclick="plusDt();">+</button>
              </span></label>
                <label>
                    <label><span class="btn-group">
            <button class="btn btn-info" onclick="moinsAk();">-</button>
                <button class="btn btn-info" disabled>Arcanes : <span id="arcanes">{{ car.arcanes }}</span> / {{ car.arcanes_max }}
                </button>
                <button class="btn btn-info" onclick="plusAk();">+</button>
              </span></label>
        </div>

        <div data-toggle="buttons">
            <label class="btn btn-info active">
                <input autocomplete="off" id="use_pf" type="checkbox"> PF : <span
                    id="pf">{{ car.point_de_focus_ }}</span> / {{ car.point_de_focus_max }}
            </label>
            <label class="btn btn-info active">
                <input autocomplete="off" id="use_pp" type="checkbox"> PP : <span
                    id="pp">{{ car.point_de_pouvoir }}</span> / {{ car.point_de_pouvoir_max }}
            </label>
            <label class="btn btn-info active">
                <input autocomplete="off" id="use_ra" type="checkbox">
                {% if car.element == "glace" %}
            Ruse
            {% elif car.element == "feu" %}
            Séduction
            {% elif car.element == "ombre" %}
            Discrétion
            {% elif car.element == "vent" %}
            Adresse
            {% elif car.element == "terre" %}
            Force
            {% elif car.element == "foudre" %}
            Sagacité
            {% elif car.element == "lumiere" %}
            Tenacité
            {% else %}
            Intimidation
            {% endif %}
            </label>
            <label class="btn btn-info active">
                <input autocomplete="off" id="use_sc" type="checkbox">Secret
            </label>
        </div>
        <div data-toggle="buttons">
            <label><span class="btn-group">
            <button class="btn btn-danger" onclick="moinsMalus();">-</button>
            <button class="btn btn-outline-danger">Malédictions : <span id="malus">0</span></button>
                  <button class="btn btn-danger" onclick="plusMalus();">+</button>
              </span></label>
            <label><span class="btn-group">
            <button class="btn btn-success" onclick="moinsBonus();">-</button>
            <button class="btn btn-outline-success">Bénédictions : <span id="bonus">0</span></button>
                  <button class="btn btn-success" onclick="plusBonus();">+</button>
              </span></label>
        </div>

        <div data-toggle="buttons">
            <label>
                <button class="btn btn-info"
                        onclick="loadLancer(nompj, 'JC',
            document.getElementById('use_pf').checked,
            document.getElementById('use_pp').checked,
            document.getElementById('use_ra').checked,
            document.getElementById('use_sc').checked
            );">Jet de Chair
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JS',
            document.getElementById('use_pf').checked,
            document.getElementById('use_pp').checked,
            document.getElementById('use_ra').checked,
            document.getElementById('use_sc').checked
            );">Jet d'Esprit
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancerEmpirique(document.getElementById('use_sc').checked);">Jet Empirique
                </button>
            </label>
        </div>
        <div data-toggle="buttons">
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JE',
            document.getElementById('use_pf').checked,
            document.getElementById('use_pp').checked,
            document.getElementById('use_ra').checked,
            document.getElementById('use_sc').checked
            );">Jet d'Essence
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JM',
            document.getElementById('use_pf').checked,
            document.getElementById('use_pp').checked,
            document.getElementById('use_ra').checked,
            document.getElementById('use_sc').checked
            );">Jet de Magie
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JA',
            document.getElementById('use_pf').checked,
            false,
            document.getElementById('use_ra').checked,
            document.getElementById('use_sc').checked
            );">Jet d'Arcane
                </button>
            </label>
        </div>
        <div id="chat"></div>

    </div>

</div>

<script src="{% static 'applsr/js/lsr.js' %}"></script>


</body>
</html>