<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>WakeMeUpWithVideo</title>
    <link rel="stylesheet" href="{% static 'addSong/css/style.css' %}" />
</head>

<body>

    <form class="connexion" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="valider" />
    </form>

</body>
</html>