<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Music me !</title>
     {% with "addSong/main_logo.png" as filepath %}
    <link rel="icon" type="image/png" href="{% static filepath %}" />
                    {% endwith %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'addSong/css/style.css' %}" />

</head>

<body>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--
    {% if connection == 'offline' %}
        <form action="{% url 'connect' idDemande %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Connexion" />
        </form>
    {% elif connection == 'online' %}
        <p>Bienvenue sur wake me up with video</p>
    {% endif %}
!-->
    <h1>{{ name|title }} vous a demandé de choisir son prochain réveil</h1>

    <form class="url" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Envoyer" />
    </form>

<table>
    <tr>
        <td>
     {% with "addSong/main_logo.png" as filepath %}
    <img alt='logo' src="{% static filepath %}" />{% endwith %}</td>
        <td><a href='https://play.google.com/store/apps/details?id=com.vguivarc.wakemeup&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
    <img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png'/>
</a></td>

    </tr>
</table>


</body>
</html>