<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>WakeMeUpWithVideo</title>
    <link rel="stylesheet" href="{% static 'addSong/css/style.css' %}" />
</head>

<body>

    <p class="thanks">Merci ! Votre musique réveillera {{ name|title }} très bientôt !</p>

</body>
</html>