body
{
    font-family: sans-serif;
    background-color:  #0FD4ED;
    display: flex;
    flex-direction: column;
}
w
h1
{
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    margin: 50px;
}

.url
{
    width: 350px;
    margin: auto;
}

.connexion
{
    margin: auto;
}

.thanks
{
    margin: auto;
}